{% extends "base.html" %}

{% block content %}
    <h1>Upload Firmware</h1>
    <div class="row">
        <div class="col-md-6">
            <form method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.firmware.label() }}
                    {{ form.firmware(class="form-control-file") }}
                    {% if form.firmware.errors %}
                        {% for error in form.firmware.errors %}
                            <div class="invalid-feedback d-block">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                {{ form.submit(class="btn btn-primary") }}
            </form>
        </div>
    </div>
{% endblock %}